.tableBox {
  margin-left: auto;
  margin-right: auto;
}

.tableHead {
  border-bottom: solid #f6f7f8 3px;
}

.tableHeadItem {
  color: #22262a;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;

  padding-bottom: 23px;
}

.tableHeadItemProduct {
  padding-right: 605px;
  padding-left: 50px;
}

.tableHeadItemPrice {
  padding-right: 150px;
}

.tableHeadItemQuantity {
  padding-right: 150px;
}

.tableHeadItemUnitPrice {
  padding-right: 10px;
}
