.tableBodyItem {
  padding-top: 60px;
  padding-bottom: 50px;
  border-bottom: solid #f6f7f8 3px;
}

.tableBodyImgBox {
  display: flex;
  align-items: center;
  gap: 25px;

  padding-bottom: 50px;
  padding-top: 60px;
}

.closeBtn {
  fill: #ff4252;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cardImg {
  width: 130px;
  height: 90px;

  border-radius: 7px;
}

.cardValue {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
}

.controlQtyList {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 125px;
  background-color: #f6f7f8;
  border-radius: 5px;
}

.signValue {
  color: #33a0ff;
  cursor: pointer;
  padding: 18px;
}
