.cardItem {
  display: flex;

  padding-bottom: 50px;
  border-bottom: solid #f6f7f8 3px;
}

.cardImgBox {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-right: 55px;
}

.cardImg {
  width: 130px;
  height: 90px;

  border-radius: 7px;
}

.cardValue {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
}

.cardTitle {
  width: 180px;
}

.controlPriceBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.controlQtyBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100px;
  height: 40px;
  background-color: #f6f7f8;
  border-radius: 5px;
}

.signValue {
  color: #33a0ff;
  cursor: pointer;
}

.closeBtn {
  fill: #ff4252;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
